# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env

# Node
node_modules/
npm-debug.log
yarn-error.log
build/
dist/

# Git
.git
.gitignore

# Docker
docker-compose.override.yml
Dockerfile
